<p>home works!</p>

        <!-- Page content-->
        <div class="container">
          <div class="row">
              <!-- Blog entries-->
              <div class="col-lg-8">
                  <!-- Nested row for non-featured blog posts-->
                  <div class="row">
                    <ng-container>
                      <div class="col-lg-6">
                          <!-- Blog post-->
                          <div class="card mb-4">
                              <a href="#!"><img class="card-img-top" [src]="" alt="title" /></a>
                              <div class="card-body">

                                  <h2 class="card-title h4">title</h2>


                              </div>
                          </div>
                      </div>

                    </ng-container>
                  </div>
