<header class="header-6" >
  <div class="branding">
    <a routerLink="/home" class="nav-link"></a>
          <span class="title">My App </span>
  </div>
  <div class="branding">
    <a routerLink="/users" class="nav-link"><span class="title">Home </span></a>
  </div>

  <div class="header-actions">
      <a routerLink="/admin" class="nav-link nav-text"> Admin </a>
      <a routerLink="/login" class="nav-link nav-text"> Login </a>
      <a routerLink="/register" class="nav-link nav-text"> Registre </a>

  </div>
</header>
<p>overview works!</p>
