
<div class="login-wrapper">
  <form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
      <div class="login-group">
        <h1 style="text-align: center; ">Login Page
        </h1>
          <clr-input-container>
              <input type="text" name="username" clrInput placeholder="Email" formControlName="email"  />
              <clr-control-error *ngIf="loginForm.controls['email'].errors" class="text">Email is required</clr-control-error>
          </clr-input-container>
          <clr-password-container>
              <input type="password" name="password" clrPassword placeholder="Password" formControlName="password"  />
              <clr-control-error *ngIf="loginForm.controls['password'].errors" class="text">Password is required</clr-control-error>
          </clr-password-container>
          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid" type="submit">Login</button>
          <a href="/register" class="signup">Sign up for a Company ID</a>
      </div>
  </form>
</div>
