<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a routerLink="/home" class="nav-link"></a>
      <span class="title">My App </span>
    </div>
    <div class="branding">
      <a routerLink="/admin" class="nav-link"><span class="title">Home </span></a>
    </div>

    <div class="header-actions">
      <a routerLink="/admin" class="nav-link nav-text"> Admin </a>
      <a routerLink="/login" class="nav-link nav-text"> About </a>
      <a routerLink="/register" class="nav-link nav-text"> contact </a>

    </div>
    </header>
    <div class="content-container">
    <nav class="sidenav">
      <section class="sidenav-content">
        <a routerLink="/post" class="nav-link">
          Posts
        </a>
        <a href="/users" class="nav-link">
          List of users
        </a>
        <a href="/categories" class="nav-link">
          Categories
        </a>

        <section class="nav-group">
          <input id="tabexample2" type="checkbox">
          <label for="tabexample2"> <a routerLink="/" class="nav-link nav-text"> Deconnexion </a></label>

        </section>
      </section>
    </nav>

   <div><h4>Mercades</h4>
    <div class="progress" style="width:70%">
        <progress max="100" value="100" data-displayval="100%"></progress>
    </div>
    <h4>BMW</h4>
    <div class="progress">
        <progress max="100" value="40" data-displayval="40%"></progress>
    </div>
    <h4>Ford</h4>
    <div class="progress">
        <progress max="100" value="10" data-displayval="10%"></progress>
    </div>
    <h4>Ferrari</h4>
    <div class="progress">
        <progress max="100" value="80" data-displayval="80%"></progress>
    </div>
    <h4>Bougati</h4>
    <div class="progress">
        <progress max="100" value="70" data-displayval="70%"></progress>
    </div>
    <h4>Toyota</h4>
    <div class="progress">
        <progress max="100" value="60" data-displayval="60%"></progress>
    </div>
    <h4>Audi</h4>
    <div class="progress">
        <progress max="100" value="100" data-displayval="100%"></progress>
    </div>

    </div></div>

