<div class="login-wrapper">
  <form class="login" [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
      <div class="login-group">
        <h1 style="text-align: center; ">Register Page
        </h1>
        <clr-input-container>
          <input type="text" name="username" clrInput placeholder="username" formControlName="username"  />
          <clr-control-error *ngIf="registerForm.get('username')" class="text">Username is required</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <input type="text" name="phone" clrInput placeholder="phone" formControlName="phone"  />
        <clr-control-error *ngIf="registerForm.get('phone')" class="text">Phone is required</clr-control-error>
    </clr-input-container>
    <clr-input-container>
      <input type="text" name="role" clrInput placeholder="role" formControlName="role"  />
      <clr-control-error *ngIf="registerForm.get('role')" class="text">role is required</clr-control-error>
  </clr-input-container>
    <clr-input-container>
      <input type="text" name="username" clrInput placeholder="name" formControlName="name"  />
      <clr-control-error *ngIf="registerForm.get('name')" class="text">Name is required</clr-control-error>
  </clr-input-container>

          <clr-input-container>
              <input type="text" name="email" clrInput placeholder="Email" formControlName="email"  />
              <clr-control-error *ngIf="registerForm.get('email')" class="text">Email is required</clr-control-error>
          </clr-input-container>
          <clr-password-container>
              <input type="password" name="password" clrPassword placeholder="Password" formControlName="password"  />
              <clr-control-error *ngIf="registerForm.get('password')" class="text">Password is required</clr-control-error>
          </clr-password-container>
          <clr-password-container>
            <input type="password" name="passwordConfirm" clrPassword placeholder="passwordConfirm" formControlName="passwordConfirm"  />
            <clr-control-error *ngIf="registerForm.get('passwordConfirm')" class="text">confirm Password is required</clr-control-error>
        </clr-password-container>
          <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
          <a href="" class="signup">Sign In for a Company ID</a>
      </div>
  </form>
</div>
