<h1 style="text-align:center;"> Register Page </h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
  <div class ="container">
    <mat-form-field>
     <input matInput placeholder="Name" formControlName="name" >
     <mat-hint *ngIf="registerForm.controls['name'].errors" class="text">name is required</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput  placeholder="Username" formControlName="username" >
      <mat-hint *ngIf="registerForm.controls['username'].errors" class="text">username is required</mat-hint>
     </mat-form-field>
     <mat-form-field>
      <input matInput placeholder="Phone" formControlName="phone" >
      <mat-hint *ngIf="registerForm.controls['phone'].errors" class="text">phone is required</mat-hint>
     </mat-form-field>
     <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" >
      <mat-hint *ngIf="registerForm.controls['email'].errors" class="text">email is required</mat-hint>
     </mat-form-field>
     <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" >
      <mat-hint *ngIf="registerForm.controls['password'].errors" class="text">pasword is required</mat-hint>
     </mat-form-field>
     <mat-form-field>
      <input matInput placeholder="PasswordConfirm" formControlName="passwordConfirm" >
      <mat-hint *ngIf="registerForm.controls['passwordConfirm'].errors" class="text">passswordconfirm is required</mat-hint>
     </mat-form-field>
     <mat-form-field>
      <input matInput  placeholder="Role" formControlName="role" >
      <mat-hint *ngIf="registerForm.controls['role'].errors" class="text">passswordconfirm is required</mat-hint>
     </mat-form-field>
    <button mat-flat-button color="red" [disabled]="registerForm.invalid" type="submit">Register</button>
  </div>
 </form>
