
.espace{
  padding-left: 2rem;
  width:1050px;

}
.pad{
  padding-right: 2rem;
}

.bg{
background-origin: padding-box;
}
.right {
  position: absolute;
  right: 250px;
  width: 200px;
  padding: 10px;
}
